.Main {
    background: #1F2937;
    min-width: 1240px;
    margin-top: -8px;
    margin-left: -8px;
    padding-bottom: 80px;
}

#Header {
    display: flex;
}

#LogoText {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    margin-right: 400px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 50px;
}

#MainText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Second {
    display: flex;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #e5e7eb;
    width: 400px;
    margin-top: 80px;
    margin-left: 200px;
}

#column {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 400px;
}

#UnderText {
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 100px;
    height: 25px;
}

a:hover {
    color: hsl(280, 78%, 80%);
    cursor: pointer;
}

button:hover {
    background-color: darkorchid;
}

.RandomInfo {
    margin-top: 12px;
}

#RandomHeader {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.Squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Squares div {
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 20px;
    border-width: 5px;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-top: 20px;
}

.SquareTexts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SquareTexts div {
    width: 100px;
    height: 100px;
    font-size: 12px;
    margin-left: 40px;
    text-align-last: center;
    transform: translateX(-30px);
    margin-top: 6px;
}

.QuoteSection {
    background-color: #E5E7EB;
    min-width: 1240px;
    display: flex;
    justify-content: center;
}

#Quote {
    text-align: center;
    width: 700px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

#Name {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}

.BlueBox {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    height: 130px;
    width: 900px;
    align-self: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
}

#Text {
    color: white;
    margin-left: 100px;
}

#Exclamation {
    font-weight: 800;
    font-size: 26px;
}

#SignUpText {
    font-size: 12px;
    color: lightgray;
}

.BlueBox button {
    border-color: white;
    border-width: 3px;
    border-style: solid;
    margin-left: 200px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    color: white;
}